/*Cards container*/

.restaurants {
    background-color: map-get($color, min-default);
    padding: map-get($padding, thirt);
    padding-bottom: 40px;
    /*Responsive - Laptop*/
    @media screen and (min-width: 992px) {
        padding-bottom: 40px;
        /*Mixin - because accepted with media queries*/
        @include for-queries;
        &__title {
            width: 100%;
        }
    }
    h3 {
        font-size: 18px;
    }
}

/*Cards*/
.cards {
    position: relative;
    background-color: white;
    height: 210px;
    margin-bottom: 18px;
    border-radius: 15px;
    cursor: pointer;
    /*Mixin - because accepted with media queries*/
    @include default-box-shadow;
    /*Responsive - Laptop*/
    @media screen and (min-width: 992px) 
    {
        width: 48%;
    }
    /*Animation - Scale when hovering*/
    &:hover {
        transform: scale(1.02);
        transition: transform 280ms ease-in-out;
    }
    /*Badge*/
    &__badge {
        position: absolute;
        right: 11px;
        top: 13px;
        background-color: map-get($color, tertiary);
        width: 75px;
        height: 27px;
        border-radius: 2px;
        padding: 5px;
        @extend %flex-center-center;
        font-size: 12px;
        font-weight: bold;
        color: darken(map-get($color, tertiary), 38);
    } 
    /*img*/
    &__img {
        object-fit: cover;
        background-position: center;
        width: 100%;
        height: 145px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    /*Description*/
    &__description p,
    h4 {
        font-size: map-get($sizes, small);
        margin: map-get($margin, 0);
        margin-bottom: map-get($margin, 5);
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        padding: map-get($padding, first);
        position: relative;
        /*Icons*/
        i {
            position: absolute;
            right: 25px;
            top: 15px;
            font-size: 22px;
        }
        /*Filling of the heart when we click*/
        .fas {
            color: transparent;
            background-image: linear-gradient(180deg, map-get($color, secondary) 0%, map-get($color, primary) 90%);
            background-clip: text;
            -webkit-background-clip: text;
            opacity: 0;
            cursor: pointer;
            &:active {
                opacity: 1;
                animation: heart 4s linear forwards;
            } 
        }
    }
}
