/*Footer - All pages*/

footer {
    padding: map-get($padding, thirt);
    background-color: rgb(49, 49, 49);
    font-size: 13px;
    a {
        color: white;
        margin-bottom: 5px;
    }
    i {
        font-size: 12px;
    }
    img {
        height: 16px;
        margin-bottom: 8px;
        filter: invert(100%) sepia(0%) saturate(5%) hue-rotate(161deg) brightness(103%) contrast(102%);
    }
    .fas {
        width: 23px;
    }
    .fa-hands-helping {
        font-size: 10px;
    }
}
