.header {
    display: flex;
    align-items: center;
    @extend %center-flex-center;
    padding: map-get($padding, second);
    &__logo {
        width: 135px;
    }
    .fas {
        position: absolute;
        left: 20px;
        top: 20px;
    }
}


