.loader {
    animation: spin 1s linear 4;
    border: solid 10px transparent;
    border-radius: 100%;
    box-sizing: border-box;
    color: map-get($color, secondary);
    border-right-color:map-get($color, tertiary);
    border-top-color:map-get($color, secondary);
    height:50px;
    width: 50px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
    z-index: 1;
    
    &:before {
        content: "";
        border: solid 10px;
        border-radius: 100%;
        border-right-color: map-get($color, primary);
        border-top-color: map-get($color, tertiary);
        box-sizing: border-box;
        width:  40px;
        height: 40px;
        left: 60px;
        position: absolute;
    }
    &:after {
        content:"";
        border: solid 10px;
        border-radius: 50%;
        border-right-color: map-get($color, primary);
        border-top-color: map-get($color, secondary);
        box-sizing: border-box;
        height: 60px;
        width: 60px;
        top: 60px;
        position: absolute;
    }
}
  

.dish-choice {
    width: 100%;
    border: none;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    margin-top: 15px;
    box-shadow: 0 3px map-get($color, default);
    cursor: pointer;
    overflow: hidden;
    &__title, &__text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__price {          /*----------------------------------------------Revoir*/
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: map-get($padding, first);
    }
    &__text {
  
        h2 {
            margin: map-get($margin, first);
            margin-bottom: map-get($margin, second);
            font-size: large;
            font-weight: 600;
        }
    }
    p {
        align-self: flex-end;
        margin: map-get($margin, first);
        margin-right: 10px;
        font-size: 15px;
    }
    &__check {
        @extend %flex-center-center;
        transition: all 1s ease-in-out;
        width: 60px;
        background-color: map-get($color, tertiary);
        margin-right: -80px;
        i {
            color: map-get($color, tertiary);
            border-radius: 50%;
            padding: 4px;
            background-color: white;
        }
    }
    &:hover {
        .dish-choice__check {
            margin-right: 0;
        }
        i {                  
            transform: rotate(360deg);
            transition: all 1s ease-in-out;
        }
        &__text {
            
            visibility: hidden;
            
        }
    }
}