.loader {
    background-color: white;
    animation: loader 4s linear forwards;
    &__one {
        height:50px;
        width: 50px;
        position: absolute; 
        inset: 110px 0 0 0;
        margin: auto;
        border-radius: 50%;
        div {
            border: 8px solid transparent;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border-top-color: map-get($color ,tertiary);
            box-sizing: border-box;
            animation: spin 4s linear forwards;
       }
        div:nth-child(2) {
            border: 10px solid transparent;
            border-radius: 50%;
            border-bottom-color: map-get($color ,secondary);
            width: 100%;
            height: 100%;
            position: absolute;
            animation: spin-2 4s linear forwards;
        }
    }
    &__two {
        height:100px;
        width: 100px;
        position: absolute; 
        inset: 110px 0 0 0;
        margin: auto;
        border-radius: 50%;
        animation-direction: reverse;
        div {
            border: 8px solid transparent;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border-left-color: map-get($color ,primary);
            box-sizing: border-box;
            animation: spin 4s linear forwards;
        }
        div:nth-child(2) {
            border: 10px solid transparent;
            border-radius: 50%;
            border-right-color: map-get($color ,secondary);
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }
}
.dish-choice {
    width: 100%;
    border: none;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    margin-top: 15px;
    box-shadow: 0 3px map-get($color, default);
    cursor: pointer;
    overflow: hidden;
    &__text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__price {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: map-get($padding, first);
        
    }
    &__title {
        margin: map-get($margin, first);
        margin-bottom: map-get($margin, second);
        font-size: 16px;
        font-weight: 600;
    }
    
    p {
        align-self: flex-end;
        margin: map-get($margin, first);
        margin-right: 10px;
        font-size: 14px;
    }
    &__check {
        @extend %flex-center-center;
        transition: all 1s ease-in-out;
        width: 60px;
        background-color: map-get($color, tertiary);
        margin-right: -60px;
        i {
            color: map-get($color, tertiary);
            border-radius: 50%;
            padding: 4px;
            background-color: white;
        }
    }
    &:hover {
        .dish-choice__check {
            margin-right: 0;
        }
        i {                  
            animation: check 1s linear forwards;
        }
        &__text {
             visibility: hidden;
        }
    }
}