.filter, .header, form {
  justify-content: center;
  text-align: center;
}

.fonction__choice, .filter__localisation {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.fonction__choice span {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes dish {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes full-heart {
  50% {
    background: linear-gradient(165deg, #9356DC 0%, #FF79DA 90%);
    bottom: 0px;
    top: 200px;
  }
  75% {
    background: linear-gradient(165deg, #9356DC 0%, #FF79DA 90%);
    bottom: 150px;
    top: 200px;
  }
  100% {
    background: linear-gradient(165deg, #9356DC 0%, #FF79DA 90%);
    bottom: 200px;
    top: 0px;
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

input {
  outline: none;
}

a {
  color: black;
  text-decoration: none;
  display: block;
}

ol, ul {
  padding: 0;
}

label {
  border-bottom: solid 3px #99E2D0;
}

body {
  font-family: "Roboto", sans-serif;
}

.button {
  background: linear-gradient(165deg, #9356DC 0%, #FF79DA 90%);
  border: none;
  border-radius: 30px;
  padding: 15px;
  color: white;
  font-weight: bold;
  width: 200px;
  cursor: pointer;
  box-shadow: 3px 3px 3px 3px #ebe9e9;
}
.button:hover {
  background: linear-gradient(170deg, #9356DC 5%, #FF79DA 60%);
  box-shadow: 3px 3px 3px 3px #e9e8e8;
}
.button--top {
  margin-bottom: 55px;
  margin-top: 15px;
}
.button--bottom {
  margin-bottom: 55px;
}

.header {
  display: flex;
  align-items: center;
  padding: 15px;
}

.filter {
  background-color: whitesmoke;
  margin-bottom: 40px;
}
.filter__localisation {
  background-color: #e9e8e8;
  padding: 10px;
  box-shadow: inset 0 5px 5px -5px;
}
.filter__search {
  background-color: #e9e8e8;
  outline: none;
  border: none;
  font-size: 14px;
  width: 130px;
  padding: 10px;
}

.fonction {
  padding: 0 20px;
}
@media screen and (min-width: 992px) {
  .fonction {
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .fonction__title {
    width: 100%;
  }
}
.fonction__choice {
  background-color: whitesmoke;
  padding: 15px;
  margin-bottom: 25px;
  border: none;
  border-radius: 30px;
  position: relative;
  box-shadow: 3px 3px 3px 3px #ebe9e9;
}
@media screen and (min-width: 992px) {
  .fonction__choice {
    width: 30%;
  }
}
.fonction__choice p {
  padding-left: 30px;
  font-size: medium;
  font-weight: bold;
}
.fonction__choice i {
  font-size: 18px;
  color: #979696;
}
.fonction__choice span {
  position: absolute;
  color: white;
  font-size: 17px;
  left: -10px;
  top: 33%;
  background-color: #9356DC;
  border-radius: 50%;
  width: 27px;
  height: 27px;
}

.restaurants {
  background-color: whitesmoke;
  padding: 20px;
}
@media screen and (min-width: 992px) {
  .restaurants {
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .restaurants__title {
    width: 100%;
  }
}
.restaurants__cards {
  background-color: white;
  height: 220px;
  margin-bottom: 30px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 3px 3px 3px 3px #ebe9e9;
}
@media screen and (min-width: 992px) {
  .restaurants__cards {
    width: 48%;
  }
}
.restaurants__img {
  object-fit: cover;
  background-position: center;
  width: 100%;
  height: 150px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants__description p,
.restaurants h4 {
  margin: 0;
  margin-bottom: 5px;
  text-align: left;
}
.restaurants__flex {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.restaurants__flex i {
  position: absolute;
  right: 55px;
  font-size: 25px;
}
.restaurants__flex .fas {
  color: transparent;
  background-image: linear-gradient(165deg, #9356DC 0%, #FF79DA 90%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  cursor: pointer;
  background-size: 100% 0%;
  background-position: 100% 100%;
}
.restaurants__flex .fas:hover {
  opacity: 1;
  transition: 3s ease-in-out;
  background-size: 100% 100%;
}

.dish__img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.composition {
  background-color: whitesmoke;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 20px;
  margin-top: -50px;
  position: relative;
}
@media screen and (min-width: 992px) {
  .composition {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.composition__title {
  display: flex;
  justify-content: space-between;
  font-family: "Shrikhand", sans-serif;
}
@media screen and (min-width: 992px) {
  .composition__title {
    width: 100%;
  }
}
.composition__choice {
  margin-bottom: 40px;
}
@media screen and (min-width: 992px) {
  .composition__choice {
    width: 32%;
  }
}
.composition ul:nth-child(2) {
  animation-name: dish;
  animation-duration: 0.5s;
}
.composition ul:nth-child(3) {
  animation-name: dish;
  animation-duration: 1s;
}
.composition ul:nth-child(4) {
  animation-name: dish;
  animation-duration: 1.5s;
}

.dish-choice {
  width: 100%;
  border: none;
  background-color: white;
  display: flex;
  text-align: left;
  justify-content: space-between;
  border-radius: 15px;
  margin-top: 15px;
  padding: 10px;
  box-shadow: 0 3px #e9e8e8;
}
.dish-choice h2 {
  margin: 0;
  margin-bottom: 5px;
  font-size: large;
}
.dish-choice p {
  align-self: flex-end;
  margin: 0;
  margin-bottom: 5px;
}

footer {
  padding: 20px;
  background-color: #313131;
}

/*# sourceMappingURL=style.css.map */
