.button {
    background: linear-gradient(180deg, map-get($color, secondary) 0%, map-get($color, primary) 90%);
    border: none;
    border-radius: 30px;
    padding: map-get($padding, second);
    color: white;
    font-size: 13px;
    width: 180px;
    cursor: pointer;
    @include default-box-shadow;
    &--top {
        margin-bottom: 30px;
        margin-top: 15px;
    }
    &--bottom {
        margin-bottom: 55px;
    }
    &:hover {
        background: linear-gradient(180deg, map-get($color, secondary) 40%, map-get($color, primary) 90%);
        box-shadow: 3px 3px 3px 3px map-get($color, medium-default);
    }
}

.button-flex {
    @extend %flex-justify-center;
}