* {
    box-sizing: border-box;
}

body {
    margin: map-get($margin, first);
}

input {
    outline: none;
}

a {
    color: black;
    text-decoration: none;
    display: block;
}

footer {
    padding: map-get($padding, thirt);
}