* {
    box-sizing: border-box;
}

body {
    margin: map-get($margin, first);
}

input {
    outline: none;
}

a {
    color: black;
    text-decoration: none;
    display: block;
}

ol, ul {
    padding: 0;
}

label {
    border-bottom: solid 3px map-get($color, tertiary);
}