/*Fonction - Allow the composition of the menus and online booking- 
To be developed during phase two of the project*/
.fonction {
    padding: map-get($padding, forth);
    margin-bottom: map-get($margin, thirt);
    /*Responsive - Laptop*/
    @media screen and (min-width: 992px) {
        padding: 0 40px;
        /*Mixin - accepted with media queries*/
        @include for-queries;
        &__title {
            width: 100%;
        }
    }
    &__group {
        @media screen and (min-width: 992px) {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
    &__title {
        font-size: 18px;
    }
    &__choice {
        @extend %center;
        background-color: map-get($color, min-default);
        padding: 8px;
        margin-bottom: map-get($margin, 25);
        border: none;
        border-radius: 20px;
        position: relative;
        margin-left: 10px;
        cursor: pointer;
        @include default-box-shadow;
        /*Responsive - Laptop*/
        @media screen and (min-width: 992px) {
            width: 30%;
        }
        /*Hover with color change*/
        &:hover {
            background-color: #f1dafb;
            transform: scale(1.02);
            transition: transform 280ms ease-in-out;
        }
        &:hover i {
            color: map-get($color, primary);
        }
        p {
            padding-left: 30px;
            font-size: map-get($sizes, x-small);
            font-weight: bold;
        }
        i {
            font-size: 16px;
            color: map-get($color, medium-default);
        }
        /*Numbering*/
        span {
            @extend %flex-center-center;
            position: absolute;
            color: white;
            font-size: 11px;
            left: -10px;
            top: 33%;
            background-color: map-get($color, primary);
            border-radius: 50%;
            width: 20px;
            height: 20px;
        }
    }
}