.fonction {
    padding: map-get($padding, forth);
    margin-bottom: map-get($margin, thirt);
    &__choice {
        @extend %center;
        background-color: map-get($color, min-default);
        padding: map-get($padding, second);
        margin-bottom: map-get($margin, bottom-first);
        border: none;
        width: 100%;
        border-radius: 30px;
        p {
            padding-left: 30px;
            font-size: medium;
            font-weight: bold;
        }
        i {
            font-size: 18px;
            color: map-get($color, medium-default);
        }
    }
}
