/*Loader - Homepage*/
.loader {
    background-color: white;
    height: 100vh;
    position: fixed;
    inset: 0;
    z-index: 9999;
    animation: loader 3s linear forwards;
    @extend %flex-center-center;
    &__one {
        height:60px;
        width: 60px;
        position: absolute; 
        inset: 110px 0 0 0;
        margin: auto;
        border-radius: 50%;
        div {
            animation: spin 3s linear forwards;
            animation-direction: reverse;
            border-top-color: map-get($color ,tertiary);
            @extend %spinner;
        }
        div:nth-child(2) {
            animation: spin 3s linear forwards;
            animation-direction: reverse;
            border-bottom-color: map-get($color ,secondary);
            @extend %spinner;
        }
    }
    &__two {
        height:80px;
        width: 80px;
        position: absolute; 
        inset: 110px 0 0 0;
        margin: auto;
        border-radius: 50%;
        div {
            animation: spin 3s linear forwards;
            border-left-color: map-get($color ,primary);
            @extend %spinner;
        }
        div:nth-child(2) {
            animation: spin 3s linear forwards;
            border-right-color: map-get($color ,secondary);
            @extend %spinner;
        }
    }
}