.restaurants {
    background-color: map-get($color, min-default);
    padding: map-get($padding, thirt);
    margin-bottom: map-get($margin, bottom-second);
    &__cards {
        background-color: white;
        height: 220px;
        margin-bottom: 30px;
        border-radius: 15px;
        cursor: pointer;
    }
    &__img {
        object-fit: cover;
        background-position: center;
        width: 100%;
        height: 150px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    &__description {
        padding: map-get($padding, first);
        p, h4 {
            margin: map-get($margin, first);
            margin-bottom: map-get($margin, second);
        }
    }
}
