@keyframes dish {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes full-heart {
     
     
  50%  {background: linear-gradient(165deg, map-get($color, primary) 0%, map-get($color, secondary) 90%); bottom: 0px; top: 200px;}
  75%  {background: linear-gradient(165deg, map-get($color, primary) 0%, map-get($color, secondary) 90%); bottom: 150px; top: 200px;}
  100% {background: linear-gradient(165deg, map-get($color, primary) 0%, map-get($color, secondary) 90%); bottom: 200px; top: 0px;}
  }
