%center-flex-center {
  justify-content: center;
  text-align: center;
}

%center {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

%flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}