/*Responsive - Mixin - accepted with media queries*/
@mixin for-queries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*Shadow default - Mixin - accepted with media queries*/
@mixin default-box-shadow {
    box-shadow: 3px 3px 3px 3px map-get($color, max-default);
}

/*If the dish title is too long, we use ellipsis*/
@mixin over-dish {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
